@*The prototyping helper allows us to build fast demo code*@
@using Prototyping.Ipsum
@using Prototyping.Placeholdit
@*Begin showcase*@
<div id="showcase">
    <div class="row">
        <div class="six columns">@Html.Ipsum().h1().h4(wordCount: 8)
            <p class="action">
                <a href="#" class="large orange button">Buy Now</a>
            </p>
        </div>
        <div class="six columns">
                @Html.Placehold(width: 468, height: 304, text: "product slide 1", backgroundColor:"A7D5F2")
        </div>
    </div>
</div>
<div id="features">
    <div class="row">
        <div class="four columns">@Html.Ipsum().h3() @Html.Placehold(width: 300, height: 200, text: "A")</div>
        <div class="four columns">@Html.Ipsum().h3() @Html.Placehold(width: 300, height: 200, text: "B")</div>
        <div class="four columns">@Html.Ipsum().h3() @Html.Placehold(width: 300, height: 200, text: "C")</div>
    </div>
</div>
<div id="benefits">
    <div class="row">
        <div class="eight columns">
            @Html.Ipsum().h3().p().h4().p().h4().p()
        </div>
        <div class="four columns">
            @Html.Ipsum().h3().p(paragraphCount: 1, sentenceCount: 3)
            <p>
                <a href="#" class="orange button">Buy Now</a>
            </p>
        </div>
    </div>
</div>
<div id="media">
    <div class="row">
        <div class="twelve columns">
            @Html.Ipsum().h3()
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            @Html.Ipsum().h4()
            @Html.Placehold(width: 468, height: 304, text: "product video")
        </div>
        <div class="six columns">
            @Html.Ipsum().h4()
            @Html.Placehold(width: 468, height: 304, text: "product video")
        </div>
    </div>
</div>